/*---- Universal rules  ---*/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

p {
  text-align: justify;
}

html {
  background: #fff;
}

#container {
  max-width: 90em;
  margin: 0 auto;
}

.clearfix::before {
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Dosis', sans-serif;
  margin: 0 auto;
  padding: 0px;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

/*--- Navigation bar  ---*/

header {
  background-color: #000;
  opacity: 0.7;
  border-bottom: 1px solid #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  display: none;
}

.header nav {
  display: inline-block;
  display: none;
}

nav {
  float: right;
  padding-top: 15px;
}

nav ul {
  margin: 0;
  display: inline;
  padding-right: 1.125em;
  text-transform: uppercase;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 12px;
}

nav a {
  color: white;
  text-decoration: none;
  padding-bottom: 0;
  border-bottom: 2px solid transparent;
  transition: all .3s;
}

nav a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid yellow;
  color: #fff;
}

.header ul li {
  padding-left: 2.25em;
}

.hamburger {
  position: relative;
  float: left;
  width: 60px;
  height: 40px;
  margin: 18px;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  background: #fff;
  transition: 0.6s;
}

.hamburger .one {
  top: 0;
}
.hamburger .two, .hamburger .three {
  top: 10px;
}
.hamburger .four {
  top: 20px;
}

.hamburger.open .one, .hamburger.open .four {
  display: none;
}

.hamburger.open .two {
  transform: rotate(45deg);
}

.hamburger.open .three {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  header {
    width: 100%;
  }
  .header ul li {
    padding-left: 0;
  }
  nav {
    padding: 0;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
    text-decoration: none;
  }
  nav ul {
    margin: 0;
    padding: .10em;
  }
  nav li {
    border-radius: .5em;
    margin-right: .5em;
    margin-bottom: .5em;
    padding: .60em;
    list-style: none;
    width: 90%;
  }
  nav a {
    text-decoration: none;
    color: yellow;
  }
  .hamburger {
    float: none;
    width: 40px;
    height: 20px;
    margin: 10px 0 10px 30px;
  }
  .hamburger .one {
    top: 0;
  }
  .hamburger .two, .hamburger .three {
    top: 10px;
  }
  .hamburger .four {
    top: 20px;
  }
}

@media only screen and (max-width: 750px) and (min-width: 501px) {
  .header ul li {
    padding-left: 28px;
  }
  nav {
    float: right;
    padding-top: 0px;
  }
  .hamburger {
    float: left;
    width: 40px;
    height: 20px;
    margin: 10px 0 10px 30px;
  }
  .hamburger .one {
    top: 0;
  }
  .hamburger .two, .hamburger .three {
    top: 10px;
  }
  .hamburger .four {
    top: 20px;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 751px) {
  nav ul {
    padding-right: 0;
  }
}

/*--- Banner  ---*/

.banner {
  height: 90vh;
  border-bottom: 1px solid #fff;
  position: relative;
  z-index: 1;
  background: url('../img/kettleBell.jpg');
  background-size: cover;
  max-height: 100%;
}

.banner .banner_words {
  padding-top: 5.575em;
  text-transform: uppercase;
}

.banner h1 {
  font-family: 'Monoton', cursive;
  text-align: center;
  word-spacing: 20px;
  color: yellow; 
  font-size: 5.1875em;
  font-weight: 300;
  opacity: 1;
  text-shadow: -6px 10px 5px black;
}

.banner h2 {
  padding-top: 1em;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 80px;
}

.banner h1 span, 
.banner h2 span {
  display: block;
  font-size: 30px;
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  .banner .banner_words h1 {
    font-size: 2.1875em;
  }
}

@media only screen and (max-width: 750px) and (min-width: 501px) {
  .banner .banner_words {

  }
  .banner .banner_words h1 {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 3.1875em;
  }
  .banner .brand .brand_words {
    width: 85%;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 751px) {
  .banner {
    height: 50vh;
  }
  .banner .banner_words {
    padding-top: 3em;
  }
  .banner .banner_words h1 {
    font-size: 3.1875em;
  }
}

#options {
  max-width: 100%;
}

#options .nav_options {
  position: relative;
  float: left;
  width: 33.33%;
  height: 30vh;
  text-align: center;
  cursor: pointer;
  border: 2px solid #fff;
}

#options .strength {
  margin-left: 0px;
  background: url('../img/strengthTraining.jpeg');
  background-size: cover;
}

#options .food {
  background: url('../img/nutrition.jpeg');
  background-size: cover;
}

#options .train {
  margin-right: 0px;
  background: url('../img/purpose.jpeg');
  background-size: cover;
}

#options .nav_options h3 {
  display: block;
  padding-top: 70px;
  color: white;
  z-index: 2;
}

#options .nav_options:hover {
  opacity: 0.2;
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  #options .nav_options {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 750px) and (min-width: 501px) {
  
}

@media only screen and (max-width: 1100px) and (min-width: 751px) {
  #options .nav_options {
    height: 20vh;
  }
  #options .nav_options h3 {
    // padding-top: 45px;
  }
}

@media (max-width: 900px) {
  #options .nav_options h3 {
    margin-top: 0;
  }
}

/* -- Universal Section Styles -- */

#section_one, #section_three {
  width: 100%;
  height: 600px;
  margin: auto;
}

#section_one .section_wrap,
#section_two .section_wrap {
  width: 100%;
}

/* -- Section One -- */

#section_one {
  position: relative;
  padding-top: 90px;
  font-size: 1.1em;
  background: #fff;
}

#section_one:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 25%;
  width: 75%;
  border-top: 1px solid black;
}

#section_one:after {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 25%;
  width: 75%;
  border-bottom: 1px solid darkgray;
}

#section_one .section_wrap .left_side {
  float: left;
  margin: auto;
  width: 30%;
  display: none;
}

#section_one .section_wrap .left_side img {
  width: 71.5%;
  margin-left: 70px;
  opacity: 0.7;
}

#section_one .section_wrap .left_side img:hover {
  opacity: 1.0;
}

#section_one .section_wrap .right_side {
  float: right;
  margin-top: 0;
  width: 68%;
  color: #000;
}

#section_one .section_wrap .right_side h2 {
  padding: 10px;
  background: #000;
  color: yellow;
  z-index: 2;
  opacity: 0.7;
}

#section_one .section_wrap .right_side p {
  line-height: 30px;
  padding-right: 60px;
}

#media {
  display: none;
}

#media .media h2 {
  padding: 10px;
  background: #000;
  color: yellow;
  z-index: 2;
  opacity: 0.7;
}

#media .media img {
  width: 100%;
}

#media .media p {
  margin: 0;
  padding: 0 15px;
  line-height: 30px;
  font-size: 20px;
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  #section_one {
    display: none;
  }
  #media {
    display: block;
  }
}

@media only screen and (max-width: 750px) and (min-width: 501px) {
  #section_one {
    padding-top: 30px;
  }
  #section_one .section_wrap .left_side img {
    margin-left: 35px;
  }
  #section_one .section_wrap .right_side h2 {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 751px) {

}

/* -- Section Two -- */

#section_two {
  background: #fff;
  width: 100%;
  margin: auto;
  padding-top: 40px;
  font-size: 1.1em;
  position: relative;
}

#section_two .mmInfo {
  margin-right: 100px;
  line-height: 30px;
  font-size: 20px;
}

#section_two .mmInfo h2 {
  background: #000;
  color: yellow;
  padding: 10px 100px;
  opacity: 0.7;
  z-index: 1;
}

#section_two .mmInfo p {
  padding-left: 100px;
}

#section_two .section_wrap .mmInfo {
  margin-bottom: 40px;
}

#section_two .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

#section_two .row .column {
  flex: 25%;
  max-width: 34%;
  padding: 0 4px;
}

#section_two .row .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.hide_flyer {
  position: absolute;
  top: 2500px;
  right: -500px;
}

.show_flyer {
  position: absolute;
  top: 2500px;
  right: 960px;
  transition: 2s;
}

.hide_flyer h2 {
  background: yellow;
  color: #000;
  width: 25%;
  margin: 0;
  text-align: center;
  transition: 2s;
}

.show_flyer h2 {
  margin: 0;
  color: yellow;
  background: #000;
  width: 25%;
  text-align: center;
  opacity: 0.7;
  cursor: pointer;
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  #section_two .section_wrap .mmInfo {
    width: 100%;
  }
  #section_two .section_wrap .mmInfo h2 {
    padding: 10px;
  }
  #section_two .section_wrap .mmInfo p {
    padding: 0 15px;
  }
  #section_two .row .column {
    flex: 100%;
    max-width: 100%;
  }
  .show_flyer, .hide_flyer {
    display: none;
  }
}

@media only screen and (max-width: 750px) and (min-width: 501px) {
  // #section_two .row .column {
  //   flex: 50%;
  //   max-width: 50%;
  // }
}

@media only screen and (max-width: 1100px) and (min-width: 751px) {
  #section_two .section_wrap .Info_slides {
    max-width: 95%;
  }

}

/* -- Section Three -- */

#section_three {
  margin-top: 0px;
  border-top: 1px solid black;
  margin-top: 20px;
  background: url('../img/trxBands.jpg');
  background-size: cover;
}

#section_three .location {
  float: right;
  width: 47%;
  margin: auto;
}

#section_three .location .form {
  text-align: center;
  padding-top: 50px;
}

#section_three .location .form h2 {
  margin-top: 0px;
}

#section_three .location .form input {
  padding: 20px;
  margin: 10px;
  width: 80%;
  border-radius: 5px;
  font-size: 16px;
}

#section_three .location .form textarea {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 80%;
  border-radius: 5px;
  margin: 10px;
  font-size: 16px;
}

#section_three .location .form .submit {
  background: yellow;
  text-transform: uppercase;
}

#section_three .testimonial_wrap {
  float: left;
  width: 52%;
  padding-top: 20px;
}

#section_three .test {
  width: 99%;
  text-align: center;
  display: none;
}

#section_three .test img {
  width: 45%;
  border-radius: 50%;
  border: 1px solid black;
}

#section_three .test:first-child {
  display: block;
}

#section_three .test p {
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  #section_three {
    height: 1060px;
  }
  #section_three .location {
    float: none;
    width: 100%;
  }
  #section_three .testimonial_wrap {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 750px) and (min-width: 501px) {
  #section_three .testimonial_wrap {
    padding-top: 35px;
  }
  #section_three .location .form h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 751px) {
  
}

/* -- Footer -- */

footer {
  background: gray;
  color: yellow;
  padding: 20px;
  text-align: center;
}

footer .social_media {
  margin: auto;
}

footer .social_media img {
  padding: 10px;
  width: 8%;
}

@media (max-width: 500px) {
  footer .social_media img {
    width: 20%;
  }
}